html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.3px;
}
p,h3,h2,h4{
    color:  #4E4E4E;
}
h3{
    letter-spacing: 1px;
}
h4{
    letter-spacing: 0.4px;
}
* {box-sizing: border-box;}
body{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
/*-----------------------drop down button--------------------------*/
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown-content {
    margin-top: 0.%;
    display: none;
    position: absolute;
    background-color: #063c6b;   
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown .dropbtn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;  
    border: none;
    outline: none;
    color:  white;
    font-weight: 500;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown .dropbtn1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;  
    border: none;
    outline: none;
    color:  white;
    font-weight: 500;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
/*------------------------header--------------------------*/
nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
      text-decoration: none;
  width: 90%;
    margin: auto;
    z-index: 2;
     
}
.nav-links .activenav{
    color: #FFA300;
}
.nav-class{
    background-color:#063c6b;  
    
    position: fixed;
    display: flex;
    align-items: center;
    min-height: 100px;
    width: 100%;
    margin: auto;
    z-index: 2;
}
.nav-links a:hover,.nav-links a.active{
    color: #2ee3f6;
}
.logo{
    flex: 0.1;
}
.nav-links{
    display: flex;
    flex: 1;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
}
.nav-links a{
    letter-spacing: 1px;
    list-style: none;
    text-decoration: none;
    color:white;
    
} 
.nav-links li{
    list-style: none;
    text-decoration: none;
    
} 
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.header-bottom h2{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px black;
}
.header-bottom a:hover,.header-bottom a.active{
    background-color: #5ce050;
}
.header-bottom h3{
    color: white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 20px 0px 60px 0px;
    text-shadow: 2px 2px 5px black;
}
.load{
    animation: slide 2s;
}
.bg{
    width: 100%;
   /* background-color: rgba(0, 0, 0, 0.3);
    height: 700px;*/
}
.bg1{
    background-color: black;
}
header{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    animation: slide 30s infinite;
}
#header1{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/HH.jpg);
    margin-bottom: 80px;
}
#header2{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/ser.jpg);
}
#header3{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/mag.jpg);
}
#header4{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/info1.jpg);
}
#header5{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/ma.png);
}
#header6{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/news.jpg);
}
#header7{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    animation: slide 30s infinite;
    background-image:url(./imges/carer.jpg);
}


#headerc{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    animation: slide 30s infinite;
    background-image:url(./imges/HH.jpg);
}

h1{
   
    position: absolute;
    text-align: center;
    justify-content: center;
    z-index: 1;

}


/*@keyframes slide{
    0%{
        background-image:url(./imges/bg1.png);
    }
    20%{
        background-image:url(./imges/bg1.png);
    }
    20.01%{
        background-image:url(./imges/bg2.png);
    }
    40%{
        background-image:url(./imges/bg2.png);
    }
    40.01%{
        background-image:url(./imges/bg1.png);
    }
    60%{
        background-image:url(./imges/bg1.png);
    }
    60.01%{
        background-image:url(./imges/bg2.png);
    }
    80%{
        background-image:url(./imges/bg2.png);
    }
    80.01%{
        background-image:url(./imges/bg1.png);
    }
    100%{
        background-image:url(./imges/bg1.png);
    }
}*/

@media screen and (max-width:1024px){
    .logo{
        flex: 1;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0vh;
        height: 50vh;
        top: 10%;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-left: 5%;
        width: 60%;
        background-color: #063c6b; 
        opacity: 1;
        font-size: 12px;
    }
    header{
        background-size: 150% 100%;  
    }
    .burger{
        display: block;
    }
    .header-bottom h2{
        font-size: 30px;
    }
    .header-bottom h2{
        font-size: 30px;
    }
    .header-bottom h3{
        font-size: 14px;
        padding: 10px 20px 60px 10px;
    }
    .include{
        display: flex;
        flex-direction: column;
        width:90%;
        margin:auto;
    }
    .text{
        font-size: 30px;
    }
    
}

.nav-active{
    transform: translateX(0%);
}
.header-bottom{
    padding: 400px 0px 0px 0px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.cta-button{
    background-color:#2ee3f6;
    border: none;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

/*body {font-family: Verdana, sans-serif;}*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
  height: 550px;
}


/* Caption text */
.text{
  color: white;
  font-size: 40px;
  padding: 3px 8px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  text-transform: uppercase;
  letter-spacing: 3px;
 
 

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.imagep{
    background-color: red;
    height: 500px;
    margin-top: 0px;
    width: auto;
    position: relative;
}
/*------------------------About us--------------------------*/
.aboutus{
    margin-top: 50px;
    text-align: center;
}



.aboutus h2{
    padding: 50px 0px 0px 0px;
    font-weight: bold;
    font-size: 4;
    color: #00a9bb;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.abs-bottom{
    display: flex;
    width: 90%;
    margin: auto;
}
.para-abs{
    text-align: justify;
    text-justify: inter-word;
    padding: 50px 0px 50px 20px;
}
.para-abs p{
    line-height: 1.6;
    padding: 0px 0px 50px 0px;
    font-size: 20px;
}
.para-abs h3{
    font-size: 24px;
    padding: 0px 0px 50px 0px;
    font-size: 4;
}
.abs-bottom img{
    padding: 50px 40px 80px 0px;
    
}
@media (max-width:1024px){
    .abs-bottom{
        display: flex;
        flex-direction: column;
    }
    .abs-bottom img{
        width: 95%;
    }
}
@media (max-width:768px){
    .abs-bottom{
        display: flex;
        flex-direction: column;
    }
    .abs-bottom img{
        width: 90%;
        padding: 50px 0px 10px 0px;
    }
    .para-abs{
        padding: 20px 0px 50px 0px;
    }
    .para-abs h3{
        padding: 0px 0px 10px 0px;
        text-align: center;
    }
}
/*------------------------Social media bar-------------------------*/
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
/*------------------------Services--------------------------*/
.services{
    background-color:#CAF7FE;
    text-align: center;
}
.include{
    padding: 80px 0px 60px 0px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.ship1{
    display: flex;
    margin-bottom: 20px;
}
.ships{
    margin-right: 10px;
    width: 50%;
}
.para{
    margin: 0px 0px 0px 10px;
    text-align: left;
}
.para p{
    padding-top: 30px;
    line-height: 1.8;
    font-size: 14px;
}
.notice{
    background-color: white;
    height: auto;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.noticein{
    padding: 30px 25px 30px 25px;
    
}
.noticein h3{
    color: #189CE7;
}
.newnews{
   margin: 18px 0px 0px 0px;
    background-color:#FDE5B9;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}
.newnews:hover,.newnews.active{
    background-color: #CAF7FE;
}
.newnews h3{
    color: red;
    padding-bottom: 0px;
}
.newnews h4{
    font-size: 14px;
    font-weight: 500;
}
.newnews a{
    list-style: none;
    text-decoration: none;
    color: #189CE7;
    font-weight: bold;
    font-size: 12px;
}
@media screen and (max-width:1024px){
    .text{
        font-size: 30px;
    }
    .nav-links{
        width: 30%;
    }

    .abs-bottom{
        width: 90%;
        margin: auto;
    }
    .abs-bottom{
        width: 90%;
        margin: auto;
        
    }
    .para-abs{
        width: 90%;
        margin: auto;
        padding-left: 0px;
    }
    .img-abs img{
        width: 90%;
       padding-right: 0px;
        margin: auto;
        text-align: center;
    }
    .ships{
        width: 90%;
        margin: auto;
    }
    .notice{
        width: 90%;
        margin: auto;
    }
    
}
@media screen and (max-width:500px){
    .ship1{
        display: flex;
        flex-direction: column;
    }
    .para{
        margin-top: 5px;
        margin-left: 0px;
    }
    .fin{
        display: flex;
        flex-direction: column;
    }
    .footer p{
        padding:  5px 0px 5px 0px;
        color: white;
        font-size: 10px;
        
    }
}
/*------------------------profile--------------------------*/
.profile{
    justify-content: center;
    align-items: center;
    text-align: center;
   
    padding: 0px 0px 50px 0px;
    
}
.profile h3{
    color: #189CE7;
    margin-top: 50px;
    margin-bottom: 40px;
}
.vision p{
    margin: 5px 0px 20px 0px;
    line-height: 1.8;
}
.vision{
    width: 90%;
    margin: auto;
}
.abou{
    background-color: #CAF7FE;
    
}
.abou p{
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;  
}
.abupara{
    width: 90%;
    margin: auto;
    padding: 10px 0px 50px 0px;
    margin-top: 50px;
}
.col1 {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 10px;
    max-width: 50%;
   
}
.col2 {
   
    text-align: justify;
    text-justify: inter-word;
    margin-left: 10px;
    max-width: 50%;
}

.col1 p{
    line-height: 1.6;
    
}
.col2 p{
    line-height: 1.6;
    
}
.historyin{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.historyin p{
    font-size: 12px;
}
.historyin h4{
    font-size: 14px;
    font-weight: 580;
    margin: 10px 0px 5px 0px;
}


/*------------------------service--------------------------*/
.service{
    justify-content: center;
    align-items: center;
    text-align: center;
   
    padding: 20px 0px 50px 0px;
    
}
.servicein{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.service h3{
    color: #189CE7;
    margin-top: 40px;
    margin-bottom: 40px;
}
.sercatg{
    margin: auto;
    margin-left: 10px
}

.sercatg p{
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
    max-width: 275px;
}

.sercatg h4{
    color:white;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    background-color: #189CE7;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}
.sercatg h4:hover{
    background-color: #FFA300;
}
.sercatg img{ 
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    transition: 0.3s;}
.sercatg img:hover{ 
    opacity: 0.7;
}
@media screen and (max-width:1024px){
    .servicein{
        display: flex;
       flex-direction: column;
    }
    .sercatg{
        margin: auto;
       margin-bottom: 10px;
    }
}
/*----------------------management-------------------------*/
.managementin{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
}
.management{
    justify-content: center;
    align-items: center;
    text-align: center;
   
    padding: 50px 0px 50px 0px;  
}

.management h3{
    color: #189CE7;
}
.manage h4{
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
.manage p{
    font-size: 12px;
    max-width: 160px;
}
.manage{
    margin: auto;
    height: 200px;
    margin-bottom: 50px;
}
.teamset2 {
    justify-content: left;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0px 30px 20px;
}
.teamset2 .team1{
   width: 90%;
   margin: auto;
}
.teamset1{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: 30px 0px 30px 0px;
}

.team1 p{
    text-align: left;
    font-size: 12px;
    width: 205px;
    height: 80px;
}
.managementteamin h3{
    margin: 50px 0px 20px 0px;
}
@media screen and (max-width:768px){
    .managementin{
        display: flex;
        flex-direction: column;
    }
    .teamset1{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .teamset2{
        display: flex;
        flex-direction: column;
        padding: 10px 0px 10px 0px;
    }
    .team1{
        padding: 10px 0px 10px 0px;
        text-align: center;
    }
    .team1 p{
        text-align: center;
        font-size: 12px;
        width: auto;
        height: auto;
    }
}
/*----------------------info -------------------------*/
#customers {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
      font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #189CE7;
    color: white;
  }
  #customers td{
      font-size: 13px;
      color:#4E4E4E;
  }
  #customers a{
    font-size: 13px;
    list-style: none;
    text-decoration: none;
    color: #189CE7;
    font-weight: 500;
    margin: 0px 5px 0px 5px;
}
  .vesselin{
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  .vessel{
      padding: 100px 0px 100px 0px;
      text-align: center;
  }
  .vessel h3{
    color: #189CE7;
   padding-bottom: 30px;
}
.circularsin{
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  .circulars{
      padding: 100px 0px 100px 0px;
      text-align: center;
      background-color: #CAF7FE;
  }
  .circulars h3{
    color: #189CE7;
    padding-bottom: 30px;
}
.ajancyin{
    width: 90%;
    margin: auto;
    justify-content: center;
    display: flex;
  }
  .ajancy{
      padding: 100px 0px 100px 0px;
      text-align: center;
  }
  .ajancy h3{
    color: #189CE7;
    padding-bottom: 30px;
}
.ajan1{
    margin: 30px 40px 30px 40px;
}
.ajan1 a{
    text-decoration: none;
    color:#4E4E4E;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    
}
.ajan1 a:hover{
    color: #189CE7;
}
@media screen and (max-width:768px){
    .ajan1{
        margin: auto;
    }
}
@media screen and (max-width:500px){
    .ajan1{
        margin: 10px 3px 10px 3px;
    }
    .ajan1 a{
        font-size: 8px;
        font-weight: 500;
        height: 20px;
        
    }
    #customers td{
        font-size: 10px;
    }
    .ajancyin{
        width: 90%;
        margin: auto;
    }
    
}
/*----------------------tender-------------------------*/
.tenderin{
    width: 90%;
    margin: auto;
    justify-content: center;
  }
  .tender{
      padding: 50px 0px 50px 0px;
      text-align: center;
      
  }
  .tender h3{
    color: #189CE7;
}
/*---------------------contact us-----------------------*/
.map{
    margin-top: auto;
    justify-content: center;
}
.conus{
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    
  }
.conus1{
    justify-content: center;
    text-align: center;
    margin: auto;
    
  }
.conusin p{
    text-align: left;
  }
  .conus{
      padding: 50px 0px 100px 0px;
      text-align: center;   
  }
  .conus h3{
    color: #189CE7;
    margin-bottom: 50px;
}
.conusin{
    background-color: #CAF7FE;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 55%;
    margin: auto;
    
}
.address{
    margin: 10px 0px 10px 15px;
}
.address h4{
    margin-bottom: 20px;
    text-align: left;
}
.address p{
    font-size: 13px;
    line-height: 1.5;
}
.conus1 h4{
    font-weight: 500;
    margin-top: 20px;
}
/*----------------------CAREERS-------------------------*/
.careersin p{
    text-align: left;
  }
  .careers{
      padding: 50px 0px 50px 0px;
      text-align: center;   
  }
  .careers h3{
    color: #189CE7;
    margin-bottom: 30px;
}
.career1{
    display: flex;
    border-style: solid;
    border:1px solid #b8b7b7;
}
.career1:hover{
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}
.careertop{
    padding: 20px 0px 20px 0px;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    text-align: center;
}
.ca-details h4{
    margin-bottom: 5px;
    text-align: left;
}
.ca-details p{
   font-size: 13px;
}

.ca-details{
    padding: 10px 10px 10px 10px;
}
.salary{
    width: 90%;
    margin: auto;
}
.salary h4{
    font-weight: 500;
    font-size: 13px;
    margin-top: 20px;
}
/*----------------------news-------------------------*/
.newsin{
    width: 90%;
    margin: auto;
    justify-content: center;
    display:flex;
    padding-top: 30px;
  }
  .news{
      padding: 50px 0px 50px 0px;
      text-align: center;
  }
  .news h3{
    color: #189CE7;
}
.newsitem{
    margin: auto;
}
.newsitem:hover{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}
.newsitem h4{
    color: white;
    font-weight: 500;
    padding: 5px 5px 5px 5px;
    background-color: #189CE7;
}
.newsitem p{
    font-size: 14px;
    margin: 10px 0px 10px 0px;
    
}
.newsitem a{
    color: #189CE7;
    text-decoration: none;
    
}
@media screen and (max-width:768px){
    .newsin{
        display: flex;
        flex-direction: column;
    }
    .careertop{
        display: flex;
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    .career1{
        margin-top: 20px;
    }
    .conusin{
        display: flex;
        flex-direction: column;
    }
    
   
}
@media screen and (max-width:500px){
    .career1{
        display: flex;
        flex-direction: column;
    }
}
/*----------------------tracker-------------------------*/
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid  #b8b7b7;
    float: left;
    width: 70%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 30%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .example{
      padding-top: 50px;
  }
  #customers img{
      height: 80px;
  }
  @media screen and (max-width:500px){
    .example{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #customers td{
        font-size: 10px;
    }
    #customers th{
        font-size: 10px;
    }
    #customers img{
        height: 30px;
    }
    #customers {
        border-collapse: collapse;
        width: auto;
        margin: auto;
        
      }
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 3px;
      }
      
      #customers th {
          font-weight: 500;
       
        text-align: center;
        background-color: #189CE7;
        color: white;
      }
}
/*----------------------footer-------------------------*/
.footer{
    background-color: #063c6b;  
}
.footer p{
    padding:  20px 0px 20px 0px;
    color: white;
    font-size: 14px;
    
}

.fin{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width:500px){
    
    .fin{
        display: flex;
        flex-direction: column;
        padding: 10px 0px 10px 0px;
    }
    .footer p{
        padding:  5px 0px 5px 0px;
        color: white;
        font-size: 11px;
        text-align: center;
        
    }
    .text{
        font-size: 26px;
    }
    .text a{
        font-size: 12px;
    }
    .nav-links{
       
        width: 45%;
       
    }
}